<article class="post">
    <div class="post-box h-15">
    <h5>
        <a href="/single-post/{{id}}">{{title}}</a>
        <span>Posted by {{user.username}} on {{format_date createdAt}}</span>
    </h5>
    <div class="post-text">
       <a>{{text}}</a> 
    </div>  
    </div>
</article>