<article class="post">
    <h5>
        {{title}}
        <span>Posted by {{user.username}} on {{format_date createdAt}}</span>
    </h5>
    <div class="post-text">
       <a href="/single-post/{{id}}">{{text}}</a> 
    </div>  
</article>